@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css";

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(230, 230, 230);
}
/* SLIDER */

.sliderImage{
  width: 50vh;
  max-width: 100%;
  height: auto;
  margin: auto;
  
  
  

}


/* BANNER */

.BannerWrapper{
  background-color: rgb(0, 110, 110);
}
.BannerWrapper h1 {
  text-align: center;
}


/* PRODUCT LIST */

.buttonRow{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.generalButton{
  height: 2rem;
  width: 4rem;
  margin: 1rem;
  background-color: aqua;
}

.generalButton:active,
.generalButton:hover {
  background-color: rgb(0, 110, 110);
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  height: 100%;
  background-color: rgba(0, 110, 110, 0.9);
  margin: auto;

}

.ProductListItem{
  width: 48vh;
  height: auto;
  border: 2px solid black;
  margin: 1rem;
  border-radius: 1rem; 
  background-color: aqua;
}

.ProductList h1{
  color: red;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  width: 60%;
  padding: .5rem;
}

.ProductList p {
  display: inline-block;
  padding: .5rem;
  
}

.ProductList h2{
  color: white;
  font-size: 1rem;
  display: inline-block;
  padding: .5rem;
  background-color: rgb(0, 0, 155);
  width: 100%;
  text-align: center;
}

.itemInfo{
  text-align: end;
}

.ProductList img{
  width: 30vh;
  height: 30vh;
  display: block;
  border-radius: 1rem;
  margin: auto;
}

hr {
  margin-top: 1rem;
  width: 95%;
  
}

/* CONTACT FORM */

.ContactForm {
  background-color: rgb(0, 110, 110);
  margin: 1rem;
  padding: .5rem;
}

.ContactForm legend {
  padding-top: .5rem;
  text-align: center;
}

.ContactForm hr {
  width: 80%;
  
}

.ContactForm label{
  display: inline-block;
  width: 48%;
  text-align: center;
}
.ContactForm input{
  display: inline-block;
  width: 48%;
  text-align: center;
  margin: .5rem;
}

.formSubmit{
  display: block !important;
  margin: auto !important;
}




