@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css";

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(230, 230, 230);
}

/* BANNER */

.BannerWrapper{
  background-image: linear-gradient(rgb(255, 197, 13), rgb(107, 54, 5));
  position: absolute;
  top: 0;
  width: 100vw;
  height: 15vh;
  display: block;
}
.BannerWrapper h1 {
  text-align: right;
  padding-right: 1rem;
}

.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.mainNavigation{
  width: 100vw;
  height: 7.5vh;
}

.mainNavigation ul{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.mainNavigation ul a{
  text-decoration: none;
  color: black;
  display: inline;
}

/* SplashImage */

.splashContainer{
  background-image: url('https://c2.staticflickr.com/6/5212/5470013447_e1ed98970b_b.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80vh;
  width: 100vw;
  display: block;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.splashTextContainer{
  width: 80vw;
  height: 10vh;
  background-color: rgba(187, 187, 187, 0.8);
  border-radius: 1rem;
  position: absolute;
  bottom: 10vh;
  left: 10vw;
}

.splashTextContainer h2{
  text-align: center;
  font-size: .8rem;
  padding: .2rem;
  
}



/* SLIDER */

.sliderImage{
  width: 50vh;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.sliderContainer{
  display: block;
}





/* PRODUCT LIST */

.ProductListHead{
  width: 100vw;
  text-align: center;
  margin-top: 3rem; 
}

.buttonRow{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.generalButton{
  height: 2rem;
  width: 4rem;
  margin: 1rem;
  background-color: rgb(255, 197, 13);
}

.generalButton:active,
.generalButton:hover {
  background-color: rgb(167, 129, 4);
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  height: 100%;
  background-color: rgb(204, 204, 204);
  margin: auto;

}

.ProductListItem{
  width: 48vh;
  height: auto;
  border: 2px solid black;
  margin: 1rem;
  border-radius: 1rem; 
  background-color: rgb(255, 197, 13);
}


.ProductList p {
  display: inline-block;
  padding: .5rem;
  
}

.ProductList h3{
  color: white;
  font-size: 1rem;
  display: inline-block;
  padding: .5rem;
  background-color: rgb(107, 54, 5);
  width: 100%;
  text-align: center;
  position: relative;
  top: -1rem;
  border-top-left-radius: .9rem;
  border-top-right-radius: .9rem;
}

.ProductList h4{
  font-size: 1.25rem;
  text-align: center;
}
.ProductList p{
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 1rem;
}

.itemPrice{
  text-align: center;
}

.itemInfo{
  text-align: end;
}

.ProductList img{
  width: 30vh;
  height: 30vh;
  display: block;
  border-radius: 1rem;
  margin: auto;
}

hr {
  margin-top: 1rem;
  width: 95%;
  
}

/* CONTACT FORM */

.ContactForm {
  background-color: rgb(255, 197, 13);
  margin: 1rem;
  padding: .5rem;
}

.ContactForm legend {
  padding-top: .5rem;
  text-align: center;
}

.ContactForm hr {
  width: 80%;
  
}

.ContactForm label{
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
  padding: .25rem;
  
}
.ContactForm input{
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
  padding: .25rem;
}

.formSubmitButton{
  height: 3rem;
  width: 8rem;
  display: block;
  margin: 1rem auto; 
  background-color: rgba(107, 54, 5, .8);
}

.formSubmitButton:hover{
  background-color: rgba(107, 54, 5, .9);
}



@media only screen and (min-width: 454px) {

  .BannerWrapper{
    background-color: rgb(108, 110, 0);
  }

  .splashTextContainer{
    
    left: 10vw;
  }

}

@media only screen and (min-width: 767px) {

  .BannerWrapper{
    background-color: rgb(110, 0, 0);
  }

  .splashTextContainer{
    width: 30vw;
    height: 60vh;
    background-color: rgba(187, 187, 187, 0.8);
    border-radius: 1rem;
    position: relative;
    top: 10vh;
    left: 5vw;
    display: flex;
    justify-content: center; 
    
  
  }

  .splashTextContainer h2 {
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .ContactForm label{
  display: inline-block;
  width: 48%;
  text-align: left;
}

  .ContactForm input{
  display: inline-block;
  width: 48%;
  text-align: center;
  margin: .5rem;
}

.formSubmitButton{
  width: 12rem;
}



}
